{% extends "index.html" %}

{% block content %}
    <div class="links">
        <a href="{% url 'fill_contacts:test' %}">test List view</a>
        <a href="{% url 'fill_contacts:all' %}">all contacts</a>
        <a href="{% url 'fill_contacts:add' %}">add contact</a>
        <a href="{% url 'fill_contacts:one' %}">view contact</a>
        <a href="{% url 'fill_contacts:update' %}">update contact</a>
        <a href="{% url 'fill_contacts:delete' %}">delete contact</a>
    </div>
<h1>Список пользователей с помощью render</h1>
    <ul>
        {% for user in phoneusers %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
{% endblock %}
