{% extends "index.html" %}

{% block content %}
<h1>Изменение пользователя:</h1>

    <form method="POST">
    {% csrf_token %}
        <label for="name">ID пользователя для изменения</label>
        <input type="text" name="user_id" required/>
        <label for="name">Новое имя:</label>
        <input type="text" name="name"/>
        <label for="tel_num">Новый номер телефона:</label>
        <input type="text" name="tel_num"/>
        <button type="submit">Изменить</button>
    </form>
        {{ message }}

{% endblock %}
